<div id="report" class="col-center report">
    <div id="loading" class="loading-wrap" style="display: none;">
        <ul class="loading">
            <li *ngIf="siteName!='lc247'"><img src="assets/images/loading40.gif"></li>
            <li *ngIf="siteName=='lc247'"><img src="assets/images/loading42.gif" style="height: 35px;"></li>

            <li>{{Update?.Loading}}...</li>
        </ul>
    </div>
    <div id="message" class="message-wrap {{status}}" *ngIf="msgData" style="display: block;">
        <a class="btn-close" (click)="removeMsg()">{{Update?.close}}</a>
        <p>{{!msgData.msg?msgData:msgData.msg}}</p>
    </div>
    <router-outlet></router-outlet>
</div>