<div id="changePasswordModal" class="pop_bg">
    <div class="pop_box">
        <a class="close_pop" (click)="hideDialog()">close_pop</a>

        <h3>{{Update?.changepass}}</h3>
        <form [formGroup]="ChangePwdForm" (ngSubmit)="ChangePwd()">

            <dl class="form_list">

                <dt>{{Update?.newpass}}</dt>
                <dd>
                    <input id="newPassword" type="password" placeholder="Enter" formControlName="newpwd"  appInputRestriction="noSpecialChars2">
                    <span class="must">＊</span>
                    <span id="newPasswordErrorText" class="error-text"
                        *ngIf="newpwd.errors?.required && f.newpwd.touched">
                        {{Update?.newpassowrdrequired}}.</span>
                    <span id="newPasswordErrorText" class="error-text" *ngIf="newpwd.errors?.minlength">{{Udpate?.newpassmustbe5charlong}}.</span>
                </dd>
                <dt>{{Update?.newpassconfirm}}</dt>
                <dd>
                    <input id="newPasswordConfirm" type="password" placeholder="Enter" formControlName="retypepwd" appInputRestriction="noSpecialChars2">
                    <span class="must">＊</span>
                    <span id="newPasswordConfirmErrorText" class="error-text"
                        *ngIf="retypepwd.errors?.required && f.retypepwd.touched">
                        {{Update?.newpassrequired}}</span>
                    <span id="newPasswordConfirmErrorText" class="error-text" *ngIf="retypepwd.errors?.mustMatch">{{Update?.newpassandretypepasssame}}</span>
                </dd>
                <dt>{{Update?.yourpass}}</dt>
                <dd>
                    <input id="changePassword" type="password" placeholder="Enter" formControlName="pwd">
                    <span class="must">＊</span>
                    <span id="oldPasswordErrorText" class="error-text"
                        *ngIf="pwd.errors?.required && f.pwd.touched">
                        {{Update?.oldpassrequired}}</span>
                </dd>
                <dd><a id="changePasswordBtn" class="btn-send" (click)="ChangePwdForm.invalid?'':ChangePwd()">{{Update?.change}}</a></dd>

            </dl>
        </form>
    </div>
</div>